body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  background: rgba(255, 255, 255, 0.85);
  padding: 20px;
  border-radius: 15px;
  margin-top: 450px;
}

#nome {
  padding: 10px;
  width: 90%;
  max-width: 500px;
  height: 45px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #d19b9b;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #a56f6f;
}

#familiaForm label {
  display: block;
  margin: 5px 0;
}

.botoes-imagens {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.botao-mapa {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.botao-mapa button {
  background-color: #007BFF;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.botao-mapa button:hover {
  background-color: #0056b3;
}

#imagem-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.imagem-full {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
}
